POSTGRES_DB=mygarage
POSTGRES_USER=mygarage
POSTGRES_PASSWORD=mygarage_dev

DATABASE_URL=postgresql+psycopg://mygarage:mygarage_dev@localhost:5432/mygarage

DVSA_CLIENT_ID=
DVSA_CLIENT_SECRET=
DVSA_API_KEY=
DVSA_SCOPE=https://tapi.dvsa.gov.uk/.default
DVSA_TOKEN_URL=
DVSA_BASE_URL=https://history.mot.api.gov.uk